/*主体内容样式*/
#content{
    width:100%;
}
.global_module h3 { 
	height:26px; 
	background:#3B5998;
	color:#FFF; 
	line-height:26px; 
	text-indent:6px;
}
.pro_detail { 
	width:100%;
	height:auto;
	overflow:hidden; 
	padding:10px;
}
/*左列*/
.pro_detail_left { 
	width:30%;
	float:left;
	overflow:hidden;
}

.pro_detail_left .jqzoom{
	float:left;
	position:relative;
	padding:0px;
	cursor:pointer;
}

.pro_detail_left .fs {
	width:100%;
	height:auto;
}

.pro_detail_left span { 
	display:block;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	width:310px;
	clear:both; 
}
.pro_detail_left span a:hover{ 
	text-decoration:none;
}
.pro_detail_left ul.imgList{
	height: 80px;
}
.pro_detail_left ul.imgList li { 
	float:left;
	margin-right:10px;  
}
.pro_detail_left ul.imgList li img { 
	width:60px; 
	height:60px; 
	padding:1px;
	background:#EEE;
	cursor:pointer; 
}
.pro_detail_left ul.imgList li img:hover { 
	padding:1px; 
	background:#999; 
}
.pro_detail_left .tab { 
	width:100%;
}

.pro_detail_left .tab_menu { 
	clear:both;
}
.pro_detail_left .tab_menu li { 
	float:left; 
	text-align:center; 
	cursor:pointer; 
	list-style:none; 
	padding:1px 6px; 
	margin-right:4px; 
	background:#F1F1F1;
	border:1px solid #898989; 
	border-bottom:none;
}
.pro_detail_left .tab_menu li.hover { 
	background:#DFDFDF;
}
.pro_detail_left .tab_menu li.selected { 
	color:#FFF; 
	background:#6D84B4;
}
.pro_detail_left .tab_box { 
	clear:both; 
	border:1px solid #898989;
}
.pro_detail_left .hide{
	display:none
}


/*右列*/
.pro_detail_right { 
	width:100%;
	float:left;
}

.pro_detail_right .color_change {
	width:100%;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
.pro_detail_right .color_change ul li {
	float:left; 
	margin-right:10px; 
}
.pro_detail_right .attrs  ul li span img {
	width:30px;
	height:30px;
	padding:0px;
}
.pro_detail_right .attrs img:hover {
/*	padding:1px;
	background:#999; */
}
.pro_detail_right .attrs {
	width:100%;
	float:left;
	display:inline;
}
.pro_detail_right .attrs ul li{
	float:left;
	margin-right:5px;
}
/*==============*/
.pro_detail_right .selected {
	background: #fff url("../images/select-background.png") no-repeat scroll right bottom / 16px auto;
	border: 1px solid #d50f2e;
	color: #d50f2e;
}
.color-img {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #000;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	font-size: 12px;
	overflow: hidden;
	padding: 0 16px;
	text-align: center;
}
.color {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #000;
	border-radius: 3px;
	cursor: pointer;
	float: left;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	margin: 2px 0;
	overflow: hidden;
	padding: 0 6px;
	text-align: center;
}
.pro_detail_right .pro_title {

	float:left;
	display:inline;
	margin-bottom:10px;
}
.pro_detail_right .pro_title ul li{
	float:left;margin-right: 5px;
}
.pro_detail_right .pro_num { 
	width:380px;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
.pro_detail_right .pro_price { 
	width:380px;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}
.pro_detail_right .pro_rating { 
	width:380px;
	float:left; 
	display:inline;
	margin-bottom:10px; 
}