@charset "UTF-8";
*{-webkit-tap-highlight-color: transparent; outline: 0; margin: 0; padding: 0; vertical-align: baseline;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{margin: 0; padding: 0; vertical-align: baseline;}
img{border: 0 none; vertical-align: top; width:100%;}
i, em{font-style:normal;}ol, ul{list-style: none;}
input, select, button, h1, h2, h3, h4, h5, h6{font-size: 100%; font-family: inherit;}
table{border-collapse: collapse; border-spacing: 0;}
a{text-decoration: none; color: #333;}
body{margin: 0 auto; min-width: 320px; max-width: 640px; height: 100%; background: #FFF; font-size: 12px; font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial; line-height: 1.5; color: #666; -webkit-text-size-adjust: 100% !important;  background-color: #ffffff;}
.mod_bar{height: 49px; line-height: 49px; background-color: #DE2327; position: relative; text-align: center; overflow: hidden;}
.mod_bar_tit{color: #fff; position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 15px;}
.buy_area .fn_wrap, .shop_info_wrap, .buy_tip{padding: 15px 10px; overflow: hidden;}
.arr_r_s{display: inline-block; background-position: -40px 0; width: 7px; height: 12px;}
.mod_slider{/*height: 200px;*/ background-color: #F1F1F2; margin: 0;} .mod_slider .inner{width: 100%; /* height: 200px;*/ overflow: hidden;} .mod_slider .pic_list{margin: auto; width: 100%; text-align: center;} .mod_slider .pic_list li{float: left; width: 200px; height: 200px; padding: 0 5px; display: inline;} .mod_slider .bar_wrap{width: 100%; height: 18px; position: absolute; bottom: 15px; left: 0; right: 0; z-index: 20; text-align: center;} .buy_area{overflow: hidden; background:#fff;} .buy_area b{font-weight: normal;} .buy_area .fn_wrap{padding-top: 5px; padding-bottom: 5px; position: relative; border-bottom: 1px solid #dadada;} .buy_area .fn_wrap .fn{color: #242424; overflow: hidden; font-size: 14px; font-weight: bold; line-height: 18px; max-height: 36px;} .buy_area .fn_wrap .fn{font-size: 16px; color: #3a3a3a; padding: 0 2px 1px; line-height: 1.3; display: inline-block; vertical-align: middle; margin-top: -4px; margin-right: 4px;}
.btn_wrap_static{background: #eee; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd;}
@-webkit-keyframes mymove{0%{top: -10px; opacity: 1;} 50%{top: -20px; opacity: 1;} 100%{top: -20px; opacity: 0;}
}
@-webkit-keyframes add_num{0%{top: -10px; opacity: 1;} 50%{top: -20px; opacity: 1;} 100%{top: -20px; opacity: 0;}
}
#skuStock{font-size: 12px; color: #e4393c;}
.shop_info_btn{padding: 6px 0; display: none;}
.mod_tab_wrap{height: 42px; width: 100%; top: 0; z-index: 1; margin: 10px 0;}
.mod_tab{height: 40px; width: 100%; overflow: hidden; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada;} .mod_tab span{float: left; width: 33.5%; white-space: nowrap; overflow: hidden; height: 40px; line-height: 40px; border-left: 1px solid #dadada; text-decoration: none; text-align: center; font-size: 13px; color: #333333; background: #fff;} .mod_tab span:last-child{width: 33%;} .mod_tab span:first-child{border-left: 0;} .mod_tab span em{color: #999999;} .mod_tab span.cur{color: #d91100;}
.shop_info_wrap{padding-left: 0; padding-right: 0; font-size: 12px; background-color: #fff; padding: 0;}
.shop_info_wrap .name_wrap{height: 40px; line-height: 40px; padding: 0 10px; border-top: 1px solid #D9D9D9; border-bottom: 1px solid #D9D9D9;} .shop_info_wrap .shop_name{float: left; white-space: nowrap; text-overflow: ellipsis; font-size: 13px; position: relative; overflow: hidden; padding-right: 17px; max-width: 175px; color: #191919; font-weight: normal;} .shop_info_wrap .shop_name:after{background-repeat: no-repeat; background-size: 100px auto;content: ''; position: absolute; top: 13px; right: 0; display: block; width: 7px; height: 12px; background-position: -40px -0px;} .shop_info_wrap .credit_wrap{float: right; overflow: hidden; padding-left: 5px; border-left: 1px solid #D9D9D9;} .shop_info_wrap .credit{float: left; width: 60px; margin-right: 5px; height: 10px; background-position: 0 -46px; position: relative; margin-top: 15px;} .credit,.credit span{ background-repeat: no-repeat; background-size: 100px auto;height: 10px; position: absolute; top: 0; left: -1px; background-position: 0 -35px;} .shop_info_wrap .num{float: left; color: #DF1E26;} .shop_info_wrap .btn_shop{display: block; margin-right: 10px; width: 143px; height: 28px; line-height: 28px; font-size: 14px; text-align: center; background: #707070; color: #fff; margin: 0 auto;} .shop_info_wrap .btn_shop .arr_r_s{margin-left: 25px; position: absolute; top: 8px; right: 15px; display: none;}
.mod_tab span{-webkit-box-sizing: border-box; box-sizing: border-box;}
.detail_info_wrap{/*height: 100%;*/ margin-bottom: 56px; overflow: hidden;  position: relative; background: #fff; border-top: 1px solid #DDDDDD;width:100%;} .detail_list{width: 100%;}.detail_item{width: 100%; top: 0; overflow: hidden;}

 .detail_info_wrap .detail_item img{display:block;width:100%;} .detail_info_wrap .detail_item table{max-width: 100% !important; width: auto !important;} .detail_info_wrap .detail_item table div{width: auto !important;} .detail_info_wrap .detail_item br{display: none;} .detail_info_wrap .detail_item .param_table{width: 100% !important; margin-bottom: 10px; border-collapse: collapse; font-size: 12px; border-spacing: 0; line-height: 18px;} .detail_info_wrap .detail_item .param_table th, .detail_info_wrap .detail_item .param_table td{padding: 8px; border: 1px solid #dadada; text-align: left;} .detail_info_wrap .detail_item .param_table td:first-child{width: 72px;} .detail_info_wrap .detail_item .param_table td:last-child{word-break: break-all;} .detail_info_wrap .detail_item .param_tit{background: #dedede; font-weight: normal; font-size: 14px;}.detail_info_wrap .detail_pc{overflow: hidden;} .detail_info_wrap .detail_pc img{width:100%;} 
 
 .cmt_list{margin-bottom: 15px;} 
 .cmt_list li{padding: 10px 0; border-bottom: 1px solid #dddddd;}
 .cmt_cnt{font-size: 14px;}
 .cmt_sku{font-size: 12px; color: #666666; line-height: 20px;} 
 .cmt_user{font-size: 12px; color: #999999; overflow: hidden;} 
 .user{float: left; max-width: 45%; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;} 
 .date{float: right; max-width: 45%; text-align: right;}

 
  .detail_info_wrap .btn_full_cmt .txt{padding-top: 10px;}
 .btn_wrap .btn_back, .btn_wrap .btn_fav, .btn_wrap .btn_col, .mod_tab span, .detail_info_wrap .detail_list, .detail_info_wrap .detail_item, .service_wrap .service_list .service_desc {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.sku_tip{display: none; margin-left: -70px; padding: 5px 10px; background: rgba(0, 0, 0, 0.7); color: #fff; text-align: center; position: fixed; top: 50%; left: 50%; z-index: 25; border-radius: 4px; -webkit-box-shadow: 0 0 3px 3px rgba(150, 150, 150, 0.7); box-shadow: 0 0 3px 3px rgba(150, 150, 150, 0.7);}
.pic_list li{width: 320px; height: 320px; margin: 0; padding: 0;} .pic_list li img{width: 100%; border-radius: 0;}
.btn_wrap .time_wrap{line-height: 20px; font-size: 12px; color: #333; margin-bottom: 15px; text-align: center;} .btn_wrap .btn_wrap .time_wrap em{display: inline-block; width: 20px; height: 20px; font-size: 12px; color: #fff; background: #333; border-radius: 2px; margin: 0 5px;}
.buy_area .fn_wrap_fav .fn{height: 36px; margin: 7px 0; margin-right: 70px;}
.buy_area .fn_wrap_paipai .fn{height: 36px; margin: 7px 0; margin-right: 70px;}
.fav_wrap{width: 68px; height: 40px; padding: 5px 0; border-left: 1px solid #dadada; position: absolute; right: 0; top: 5px;} .fav_wrap:active{background: rgba(0, 0, 0, 0.2);} .fav_wrap .btn_pp{width: 14px; height: 17px; margin: 0 auto 5px; background-position: -0px -0px;}
.fav_wrap_on .btn_pp{background-position: -0px -22px;}
.fav_wrap .btn_fav{width: 24px; height: 24px; margin: 0 auto 1px; background-position: 0 -90px;}
.fav_wrap .btn_fav_checked{background-position: -28px -90px;}
.fav_wrap .txt{font-size: 14px; line-height: 14px; text-align: center;}
.WX_bar{position: relative;}
.fav_wrap .btn_pp{background-image: url(http://static.paipaiimg.com/fd/qqpai/detail/img/detail_ico.png); background-repeat: no-repeat; background-size: 55px 45px; -webkit-background-size: 55px 45px;}
.btn_pp:active{background-image: url(http://static.paipaiimg.com/fd/qqpai/detail/img/detail_ico.png); background-repeat: no-repeat; background-size: 55px 45px; -webkit-background-size: 55px 45px;background-position:0px -22px;}
.buyinfo{padding: 10px; position: relative; border-bottom: 1px solid #dadada; color: #797979;}
.buyinfo_price{height: 40px; line-height: 40px; overflow: hidden; font-size: 1.8em;font-weight: bold;}
.buyinfo_price_tit{color: #242424;}
.buyinfo_price_now{color: #dd0000; font-size: 1.2em;font-weight: bold;} .buyinfo_price_now i{font-size: 30px;}
.buyinfo_price_count{color: #dd0000; font-size: 15px;}
.buyinfo_price_old{font-size: 11px; margin-left: 10px;}
.buyinfo_sale{height: 30px; line-height: 30px; overflow: hidden;}
.buyinfo_sale_item{margin-right: 20px; font-size: 1.2em;font-weight: bold;} .buyinfo_sale_item i{color: #242424;}
.buyinfo_post{height: 30px; line-height: 30px;}
.buyinfo_post_item{margin-right: 10px; font-size: 1.2em;font-weight: bold;} .buyinfo_post_item i{color: #242424;} .buyinfo_post_item em{font-size: 9px;}
.promolist{border-bottom: 10px solid #F1F1F2;border-top:1px solid #dadada;margin-top: 20px;font-weight:bold;font-size: 16px;}
.promolist span{color: red;}
#buy .info{color:red;border:1px solid #dadada;padding:30px 8px 0 8px;line-height: 30px;font-size: 15px;}
#fahuo p{text-align:center;padding:0 20px;font-size:12px;}#order{background:rgb(249,249,249) none repeat scroll 0 0;height:auto;margin:0 auto;max-width:750px;min-height:100%;padding:0 5px 50px 5px;position:relative;width:100%;}

@-webkit-keyframes cart_tips{0%{opacity: 0;} 10%{opacity: 0.7; -webkit-transform: translateY(-10px); transform: translateY(-10px);} 20%{opacity: 1;} 30%{opacity: 1; -webkit-transform: translateY(-10px); transform: translateY(-10px);} 70%{opacity: 1; -webkit-transform: translateY(-10px); transform: translateY(-10px);} 100%{-webkit-transform: translateY(-40px); transform: translateY(-40px); opacity: 0;}
}
@keyframes cart_tips{0%{opacity: 0;} 10%{opacity: 0.7; -webkit-transform: translateY(-10px); transform: translateY(-10px);} 20%{opacity: 1;} 30%{opacity: 1; -webkit-transform: translateY(-10px); transform: translateY(-10px);} 70%{opacity: 1; -webkit-transform: translateY(-10px); transform: translateY(-10px);} 100%{-webkit-transform: translateY(-40px); transform: translateY(-40px); opacity: 0;}
}
.sticky {
    position: fixed;    margin-top: 0px;
    z-index: 999;
    width: 100%;
    display: block;
    top: 0px;
    height: 70px;
    background: #fff;}

@media (min-width:640px){

    .sticky {
        position: fixed;    margin-top: 0px;
        z-index: 999;
        width: 640px;
        display: block;
        top: 0px;
        height: 70px;
        background: #fff;}
}
.pro_num input{
    line-height:20px;
}

.inforContent{
    background-color: #ffffff;
    padding:4px 2px;
    font-family: 'Helvetica Neue',Helvetica,'microsoft yahei',Arial,sans-serif;
}
.i-p-top{

}
.acticePrice{
    font-size:48px;
    font-weight:bold;
    color:#F00;
}
.acticePrice span{
    font-size:24px;
}
.oldPrice{
    font-size:16px;
    color:#666;
}
.oldPrice span{
    text-decoration:line-through;
}
.flag{
    font-size:14px;
    color:#FFF;
    background:#f00;
    margin-left:2px;
    padding:2px 4px;
    border-radius:2px;
}
.i-p-m{
    border-top:1px dashed #dcdcdc;
    padding:8px 0;
    overflow:hidden;
}
.flag1{
    float:left;
    color:#FFF;
    background:#000;
    margin-left:2px;
    padding:2px 4px;
    border-radius:2px;
    font-size:14px;
}
.timeWrap{
    float:right;
    color: #666;
    margin-right:4px;
}
#h,#m,#s,#ms{
    display:inline-block;
    height:17px;
    line-height:17px;
    color:#FFF;
    background:#000;
    padding:0 2px;
    font-size:16px;
    text-align:center;
    border-radius:2px;
}
#ms{
    background:#F00;
}
.colon{
    font-size:18px;
}
.i-p-b{
    font-size:14px;
    border-top:1px dashed #dcdcdc;
    border-bottom:1px dashed #dcdcdc;
    padding:8px 0 8px 2px;
}
.soldPart{

}
.percentBar{
    display: inline-block;
    width: 40%;
    height: 5px;
    border: 1px solid #fd7b7d;
    border-radius: 8px;
    overflow: hidden;
}
#progress{
    display: inline-block;
    height: 100%;
    background: #F53B3B;
}
.progress{
    display: inline-block;
    height: 100%;
    background: #F53B3B;
}
#percentNum{
    font-size:14px;
    margin-left:4px;
}
.pro_right{
    width: 60%;
    float:left; padding-left: 10px;
}
.closes {
    width:8%;
    float: right;
    background-repeat:no-repeat;
}
a{color:#993300; text-decoration:none;}
#BgDiv{background-color:#e3e3e3; position:absolute; z-index:99; left:0; top:0; display:none; width:100%; height:1000px;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;}
#caja {
    width:70%;
    display: none;
    padding:5px;
    background:rgb(247, 245, 245);
}
#caja .close img{
    width:20px;height: auto;}
.pro_head_title {
    border-bottom: 1px solid #dadada;
}
.color_wap {
    border-top: 1px solid #fff;
    margin: 0 auto;
    overflow: hidden;
    width: 94%;
}

.coTit::after {
    border-top: 1px solid #c8c7cc;
    content: "";
    left: 40px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 12px;
    transform: scaleY(0.5);
    transform-origin: 0 0 0;
}

.co {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.coTit {
    color: #000;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    margin: 4px auto;
    position: relative;
    text-align: left;
}
/* |xGv00|48c38c9324651dd14a81a15a2c82f873 */